{% extends 'edc_base/base.html' %}

{% load static %}
{% load follow_extras %}

{% block extra-scripts %}
{{ block.super }}
	<!-- Include Plotly JavaScript -->
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<!-- Include DataTables CSS and JavaScript -->
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
	<!-- Include DataTables Buttons CSS and JS -->
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css">
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
{% endblock %}

{% block main %}
    <h1>Report</h1>

    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-body">
                <hr>
                <div class="row mt-5">
                    <div class="col-md-6">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Successful Calls</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Called Participants</td>
                                <td>{{ contact_attempts.successful_calls }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="col-md-6">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Screening</th>
                                <th scope="col">Re Call</th>
                                <th scope="col">Other</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Appointments</td>
                                <td>{{ eligibility_report.screening_appointments }}</td>
                                <td>{{ eligibility_report.recall_appointments }}</td>
                                <td>{{ eligibility_report.other_appointments }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            Eligibility Report
        </div>
        <div class="panel-body">
            <!-- Child Age Eligibility -->
            <div class="row mt-5">
                <div class="col-md-6">
                    <h4>Child Age Eligibility</h4>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Category</th>
                            <th scope="col">Count</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Eligible (Child aged 7 - 17.5 years)</td>
                            <td>{{ eligibility_report.eligible_with_child }}</td>
                        </tr>
                        <tr>
                            <td>Ineligible (No child or outside age range)</td>
                            <td>{{ eligibility_report.ineligible_no_child }}</td>
                        </tr>
                        <tr>
                            <td>Eligible but pending Follow-Up (Re-call)</td>
                            <td>{{ eligibility_report.eligible_pending_fu }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- Willingness to Schedule an Appointment -->
                <div class="col-md-6">
                    <h4>Willingness to Schedule an Appointment</h4>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Willingness</th>
                            <th scope="col">Count</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Willing</td>
                            <td>{{ eligibility_report.willing_to_schedule }}</td>
                        </tr>
                        <tr>
                            <td>Not Willing</td>
                            <td>{{ eligibility_report.not_willing_to_schedule }}</td>
                        </tr>
                        <tr>
                            <td>Still Thinking</td>
                            <td>{{ eligibility_report.still_thinking_to_schedule }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
    <div class="panel panel-info">
        <div class="panel-heading">
            Enrolment Report
        </div>
        <div class="panel-body">
            <!-- Participants Successfully Enrolled -->
            <div class="row mt-5">
                <div class="col-md-6">
                    <h4>Pre-Flourish Enrolled Participants</h4>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Caregiver</th>
                            <th scope="col">Child</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Screened</td>
                            <td>{{ enrolment_report.screened }}</td>
                            <td>--</td>
                        </tr>
                        <tr>
                            <td>Consented</td>
                            <td>{{ enrolment_report.consented }}</td>
                            <td>{{ enrolment_report.child_consents_count }}</td>
                        </tr>
                        <tr>
	                        <td>Scheduled</td>
	                        <td>{{ eligibility_report.scheduled_appt }}</td>
	                        <td>--</td>
	                    </tr>
                        </tbody>
                    </table>
                </div>
	            <!-- Participants Successfully Enrolled -->
	            <div class="col-md-6">
	                <h4>Flourish Enrolled Participants (Child Consents)</h4>
	                <table class="table table-hover">
	                    <thead>
	                    <tr>
	                        <th scope="col"></th>
	                        <th scope="col"></th>
	                    </tr>
	                    </thead>
	                    <tbody>
	                    <tr>
	                        <td>Eligible</td>
	                        <td>{{ enrolment_report.flourish_eligible }}</td>
	                    </tr>
	                    <tr>
	                        <td>Consented</td>
	                        <td>{{ enrolment_report.flourish_consented }}</td>
	                    </tr>
	                    <tr>
	                        <td>Scheduled</td>
	                        <td>{{ enrolment_report.fl_enrol_scheduled }}</td>
	                    </tr>
	                    </tbody>
	                </table>
	            </div>
	        </div>
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            PreFlourish to Flourish Enrolment by Date Report
        </div>
        <div class="panel-body">
        	{{ pf_fl_enrolment_table|safe }}
        </div>
    </div>
    
    <script>
        $(document).ready(function() {
            $('#pf_fl_enrolment_df').DataTable({
				dom: 'Bfrtip',
				buttons: ['pageLength', 'csv', 'excel']
			});
        });
    </script>
{% endblock %}